body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
  color: #333;
}

.header {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 1.2em; /* Smaller font size for h1 */
  color: #2c3e50;
}

.header h1 {
  margin: 0;
  font-size: 1.2em; /* Ensure h1 matches the header font size */
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for responsive design */
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content, .status-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Consistent shadow for floating effect */
}

.main-content {
  flex: 1 1 100%; /* Full width on mobile, adjusted width on larger screens */
  margin-right: 20px;
}

.status-container {
  flex: 1 1 100%; /* Full width on mobile, adjusted width on larger screens */
  text-align: left;
  margin-top: 20px; /* Add margin-top for spacing on mobile */
}

.intro, .form-container {
  margin-bottom: 20px;
}

.intro h2 {
  font-size: 1.2em; /* Slightly smaller font size */
  margin-bottom: 10px;
  color: #34495e;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #34495e;
}

.form-container input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  width: calc(100% - 22px); /* Full width minus padding and border */
  max-width: 300px;
  box-sizing: border-box;
}

.form-buttons {
  margin-top: 10px;
}

.form-container button {
  padding: 10px 20px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  background-color: #3498db; /* Button color */
  color: white;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #2980b9;
}

.status-container p {
  margin: 0;
  font-weight: bold;
  color: #34495e;
}

.status-container #status {
  font-size: smaller;
  color: #7f8c8d;
}

.collapsible-sections {
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section .collapse-trigger {
  display: block;
  margin-bottom: 5px;
  color: #3498db;
  text-decoration: none;
  cursor: pointer;
}

.section .collapse-trigger:hover {
  text-decoration: underline;
}

.section .content {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  background-color: #ecf0f1;
  font-size: smaller;
}

.footer {
  color: #2c3e50;
  text-align: center;
  padding: 10px 0;
  font-size: x-small; /* Small font for footer */
  margin-top: 20px;
}

/* Media queries for responsive design */
@media (min-width: 768px) {
  .main-content, .status-container {
    flex: 1; /* Adjust to equal width on tablets and above */
    margin-right: 20px;
  }

  .status-container {
    margin-top: 0;
  }

  .main-content {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .main-content {
    margin-right: 20px;
  }

  .status-container {
    width: 50%;
    margin-top: 0;
  }
}
